.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin: 118px 82px 118px 111px;
}
.cart-container{
    margin-top: 90px;
    
}