/* Work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.router{
    min-height: 100vh;
    display: flex;
    background-image: url('/background.png');
    background-size: cover;
    background-position: center;
}
.containerBoxText{
    text-align: center;
}
.chat-layout{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 91.5vh;
    padding: 10px;
}
