/* Work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.router{
    min-height: 100vh;
    display: flex;
    background-image: url('/background.png');
    background-size: cover;
    background-position: center;
}
.containerBoxText{
    text-align: center;
}
.chat-layout{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 91.5vh;
    padding: 10px;
}

.chatbox-navbar{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    padding: 5px 10px 5px 10px;
    border-width: 5px;
}

.modal-header{
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.drawer-body{
    display: flex;
    padding-bottom: 2px;
}

::-webkit-scrollbar{
    width: 0px;
}
::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
}
::-webkit-scrollbar-thumb:hover{
    background: #555;
}